---
import Head from "@/components/head.astro";
import "@/styles/global.css";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  canonical?: string;
  noindex?: boolean;
  nofollow?: boolean;
  ogType?: "website" | "article";
}

const seoProps = Astro.props;
---

<html lang="en">
  <head>
    <Head {...seoProps} />
    <script is:inline>
      const theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
  </head>
  <body class="antialiased flex flex-col min-h-svh">
    <slot />
  </body>
</html>
