---
import Head from "@/components/head.astro";
import "@/styles/global.css";
---

<html lang="en">
  <head>
    <Head />
    <script is:inline>
      const theme = window.matchMedia("(prefers-color-scheme: dark)").matches
        ? "dark"
        : "light";
      document.documentElement.classList.toggle("dark", theme === "dark");
    </script>
  </head>
  <body class="antialiased flex flex-col min-h-svh">
    <slot />
  </body>
</html>
